@model IEnumerable<iPark.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    // ViewBag.Title = "";
}
<h2>Current Parked Vehicles</h2>

@using (Html.BeginForm())
{
<p class="active">
    <table>
        <tr>
            <td>RegNo</td>
            <td>VehichleType</td>
            <td>CheckIn</td>
            <td>CheckOut</td>
            <td></td>
        </tr>
        <tr>
            <td> @Html.TextBox("searchRegNo", ViewBag.searchRegNo as string) </td>
            <td> @Html.TextBox("searchVehichleType", ViewBag.searchVehichleType as string) </td>
            <td> @Html.TextBox("searchCheckIn", ViewBag.searchCheckIn as string) </td>
            <td> @Html.TextBox("searchCheckOut", ViewBag.searchCheckOut as string) </td>
            <td><input type="submit" value="Search" /></td>

        </tr>
    </table>


</p>
}

<p>
    @Html.ActionLink("Park a new vehicle", "Create")
</p>
<table class="table listTable">
    <tr class="well btn-info">
        <th>
            @Html.ActionLink("RegNo", "Index", new { sort = "0" }, new { @class = "glyphicon glyphicon-sort-by-alphabet" })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sort = "1" }, new { @class = "glyphicon glyphicon-sort-by-alphabet" })
        </th>
        <th>
            @Html.ActionLink("CheckIn", "Index", new { sort = "2" }, new { @class = "glyphicon glyphicon-sort-by-alphabet" })
        </th>
        <th>
            @Html.ActionLink("CheckOut", "Index", new { sort = "3" }, new { @class = "glyphicon glyphicon-sort-by-alphabet" })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehichleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.ActionLink("modify", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Check out", "CheckOut", new { id = item.Id })
            </td>
        </tr>

    }


</table>
