@model iPark.Models.ReceiptViewModel

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>
<script type="text/javascript">
    function PrintPage() {
        var sOption = "toolbar=yes,location=no,directories=yes,menubar=yes,scrollbars=yes,width=1200,height=800,left=100,top=25";
        var sWinHTML = document.getElementById('PrintDiv').innerHTML;
        var winprint = window.open("", "", sOption);
        winprint.document.open();
        winprint.document.write('<html><head><title>Receipt för </title><style type="text/css">');
        winprint.document.write('body,td,th{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#4487f2}');
        winprint.document.write('dt { float: left; width: 100px; }');
        winprint.document.write('dd { margin-left: 100px; }');
        winprint.document.write('</style></head><body onload="window.print();">');
        winprint.document.write(sWinHTML);
        winprint.document.write('</body></html>');
        winprint.document.close();
        winprint.focus();
        //WinPrint.print();
    }
</script>




<div id="PrintDiv">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalParkFee)
        </dt>

        <dd>.
            @Html.DisplayFor(model => model.TotalParkFee) 
        
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    <input type="button" onclick="PrintPage('PrintDiv')" value="Print receipt" />
    
</p>


